* {
	margin: 0;
	padding: 0;
}

/*To keep sidebar in place*/
body {
	overflow-y: hidden;
}

/*Nav bar*/
.col-3 .leftIcon {
	border-radius: 50px;
	width: 26px;
	cursor: pointer;
}

.col-3 img {
	margin-left: 10px;
	width: 120px;
	cursor: pointer;
}

.leftIcon:hover {
	background-color: hsl(0, 11%, 93%);
}

.col-7 {
	margin: 200px;
	position: fixed;
	border-radius: 10px;
	background-color: lightblue;
}

.col-7 input {
	border: none;
	outline: none;
	background-color: lightblue;
}

.icons {
	width: 26px;
	cursor: pointer;
	border-radius: 50px;
}

.middleIcons:hover, .rightIcons:hover {
	background-color: hsl(0, 11%, 93%);
}

/* Sidebar */
.sidebar {
max-width: 200px;
}

.sidebarCompose {
	
	font-weight: 550;
	padding: 15px;
	background-color: rgb(159, 223, 253);
	border-radius: 20px;
	cursor: pointer;
}

.sidebar-compose:hover {
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.sidebarOption {
	margin-left: 10px;
	margin-right: 20px;
	padding: 3px 40px;
	color: darkslategrey;
	border-radius: 20px; 
	cursor: pointer;
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .material-icons,
.sidebarOption_active,
.sidebarOption_active h3,
.sidebarOption_active .material-icons {
	background-color: #d5e0f0;
	font-weight: 800;
}

.sidebarFooter h3 {
	font-size: 20px;
}

.labelbutton {
	margin-left: 60px;
	border-radius: 50px;
	border: none;
	outline: none;
}

.labelbutton:hover {
	background-color: hsl(0, 11%, 93%);
}

.emailList {
    flex: 1;
	overflow-y: scroll;
}

.emailListSettings {
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.emailListSettings .icons {
    margin: 5px;
}

.smallIcons {
	width: 20px;
}

.emailRowOptions{
	display: flex;
	align-items: center;
}

.emailRowOptions .icons {
	margin: 5px;
	width: 20px;
}

.emailRow {
	display: flex;
	align-items: center;
	padding: 4px 0px;
	border-bottom: 1px solid lightgrey;
	cursor: pointer;
	z-index: 999;
}

.emailRow:hover {
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRowSender {
    font-size: 20px;
    flex: 0.3;
}

.emailRowMessage {
    flex: 0.8;
}

.emailRowMessage h4 {
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	/*Or use:
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

.emailRowDescription {
	font-size: 16px;
    font-weight: 400;
    color: gray;
}

.emailRowTime {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

/*
.emailRowOptions {
    display: flex;
    align-items: center;
}

.emailRowOptions .icons,
input {
    margin: 5px;
}	

.emailRow {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRowMessage {
    flex: 0.8;
}

.emailRowMessage h5 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.emailRowTitle {
    font-size: 13px;
    flex: 0.3;
}

.emailRowTime {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

.emailRowDescription {
    font-weight: 400;
    color: gray;
}



*/



